.imants {
    text-align: center;
    color: green;
}

.body {
    background-color: yellow;
}

.hover-text{
    color:green;
    font-size: 15px;
    font-weight: 900;
}

.image-container {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.image-container img {
    height: 400px;
    margin-right: 10px;
    transition: transform 0.5s ease;
}

.image-container .hover-text {
    position: absolute;
    top: -35px;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover img {
    transform: translate(10px, 10px);
}

.image-container:hover .hover-text {
    opacity: 1;
}




header {
    background-color:green;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
    border-style: solid;
    border-radius: 15px;
}

ul {
    display: flex;
    align-items: left;
    justify-content:  space-around;
}

li {
    list-style-type: none;
    transition: transform 0.5s;
}

li:hover {
transform: translateX(10px);
}

a {
    text-decoration: none;
    color: white;
    transition: color 1s;
}
a:hover {
    color: black;
}

main {
    margin-top: 5%;
    color: white;
}

 .burger{
    display: none;
}

.check {
    display: none
}

@media (max-width: 200px) {
    .burger{
        display: block;
    }

    ul{
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        background-color: green;
        width: 100vw;
        padding-left: 0;    
        align-items: center;
        margin: 0;
        display: none;
    border-style: solid;
    border-radius: 15px;
    }
    li{
        padding-bottom: 20px;
    }

    .check {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        opacity: 0;
        cursor: pointer;
        }
    .check:checked + ul {
        display: flex;
        }
}