
article {
  margin-top: 120px;
}

div {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 1s;
}

.square-1:hover {
  transform: scale(2);
  margin: auto;
}

.square-2:hover {
  transform: rotate(45deg);
}

.square-3:hover {
  transform: translateX(100px) translateY(-50px);
}
.square-4 {
  transform-origin: bottom right;
}

.square-4:hover {
  transform: translateX(100px) translateY(-50px);
  transform: rotate(90deg);

}